<!DOCTYPE html>
<html>
	<head>
		<title>main</title>
		<style>
			#div1{
				position: absolute;
				width:30px;
				height:30px;
				border:2px solid black;
			}

		</style>
	</head>
	<body>
		<p>This is frame hbs for Final exam</p>
		<div id='div1'></div>
		{{temp}}
	</body>
</html>